<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Averia Gruesa Libre' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" style="font-family: 'Averia Gruesa Libre';font-size: 22px;color: rgb(255, 255, 255);" href="/userIndex">Catalogger</a>        
        </div>
      </nav> 
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Category</button>
            {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#{{category.id}}" aria-expanded="false" aria-controls="{{category.id}}">
               
                <span class="menu-title">{{category.name}}</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="{{category.id}}">
                <ul class="nav flex-column sub-menu">
                  <button type="button" class="btn btn-primary" 
                    onclick="SubCategoryModal('{{category.id}}')">
                    Add Sub-Category</button>
                  {% for subcategory in category.subcategories %}
                  {% set categoryPath='category/'+category.id+'/'+subcategory.id %}
                  <li class="nav-item"> <a class="nav-link" onclick="window.location.href='/{{categoryPath}}'"> {{subcategory.name}} </a></li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endfor %}
            <button type="button" class="btn btn-primary" href="/loginPage">Log Out</button>
          </ul>
        </nav>
        <!-- partial -->
        <div id="myModal3" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add a product.</h4>
              </div>
              <div class="modal-body">
                <form class="pt-3" name="login" method="POST" action="/category/add_products">
                  <div class="form-group">
                    <input type="text" name="categoryId" hidden class="form-control form-control-lg" id="categoryId">
                    <input type="text" name="subcategoryId" hidden class="form-control form-control-lg" id="subcategoryId">
                    <input type="text" name="productname" class="form-control form-control-lg" id="productname" placeholder="Enter product name">
                    <input type="text" name="productdesc" class="form-control form-control-lg" id="productdesc" placeholder="Enter product description">
                    <input type="text" name="productprice" class="form-control form-control-lg" id="productprice" placeholder="Enter product price">
                  </div>
                  <div class="mt-3">
                    <input type="submit" value="Submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="container" style="background-color: black; height: 30vh ;">
              <div class="row">
                <div class="col-12"><h5></h5></div>
                <div class="col-12"><h5></h5></div>
                <div class="col-12"><h5></h5></div>
                <div class="col-12"><h5></h5></div>
                <div class="col-12" style="padding-left: 35px; padding-bottom: 15px;">
                  <h1>{{bname}}</h1>
                </div>
                <div class="col-12" style="padding-left: 35px;">
                  <p>{{bdesc}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add a category.</h4>
          </div>
          <div class="modal-body">
            <form class="pt-3" name="login" method="POST" action="/category/add_category">
              <div class="form-group">
                <input type="text" name="category" class="form-control form-control-lg" id="category" placeholder="Enter category">
              </div>
              <div class="mt-3">
                <input type="submit" value="Submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal2" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add a sub category.</h4>
          </div>
          <div class="modal-body">
            <form class="pt-3" name="login" method="POST" action="/category/add_sub_category">
              <div class="form-group">
                <input type="text" name="categoryId" hidden class="form-control form-control-lg" id="categoryId">
                <input type="text" name="subcategory" class="form-control form-control-lg" id="subcategory" placeholder="Enter sub category">
              </div>
              <div class="mt-3">
                <input type="submit" value="Submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      function SubCategoryModal(categoryId) {
          $(".modal-body #categoryId").val(categoryId);
          $('#myModal2').modal('show');
      }
      function ProductModal(categoryId,subcategoryId) {
          $(".modal-body #categoryId").val(categoryId);
          $(".modal-body #subcategoryId").val(subcategoryId);
          $('#myModal3').modal('show');
      }
    </script>  
    <script src= "{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src= "{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
    <script src= "{{ url_for('static', filename='vendors/jquery-circle-progress/js/circle-progress.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src= "{{ url_for('static', filename='js/off-canvas.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src= "{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <!-- End custom js for this page -->
  </body>
</html>