<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Averia Gruesa Libre' rel='stylesheet'>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="/userIndex" style="font-family: 'Averia Gruesa Libre';font-size: 22px;color: rgb(255, 255, 255);" >Catalogger</a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#{{category.id}}" aria-expanded="false" aria-controls="{{category.id}}">
                <span class="menu-title">{{category.name}}</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="{{category.id}}">
                <ul class="nav flex-column sub-menu">
                  {% for subcategory in category.subcategories %}
                  {% set categoryPath="business/"+business_id+"/"+category.id+"/"+subcategory.id %}
                  <li class="nav-item"> <a class="nav-link" onclick="window.location.href='/{{categoryPath}}'"> {{subcategory.name}} </a></li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
                
            </div>
            <div class="row">
              {% for item in product_list %}
              <div class="col-lg-3">
              <div class="card mt-4">
                <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <h5 class="card-title">{{item.price}}</h5>
                  <p class="card-text">{{item.description}}</p>
                </div>
              </div>
              </div>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <script src= "{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src= "{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
    <script src= "{{ url_for('static', filename='vendors/jquery-circle-progress/js/circle-progress.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src= "{{ url_for('static', filename='js/off-canvas.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src= "{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <!-- End custom js for this page -->
  </body>
</html>