<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Connect Plus</title>
    <!-- plugins:css -->
    <!-- Required Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glide.core.min.css') }}">
    <!-- Optional Theme Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/glide.theme.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/flag-icon-css/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body class="sidebar-icon-only">
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html"><img src= "{{ url_for('static', filename='images/logo.svg') }}" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src= "{{ url_for('static', filename='images/logo-mini.svg') }}" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-xl-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder="Search products">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <div class="dropdown-menu navbar-dropdown dropdown-menu-right p-0 border-0 font-size-sm" aria-labelledby="profileDropdown" data-x-placement="bottom-end">
                <div class="p-3 text-center bg-primary">
                  <img class="img-avatar img-avatar48 img-avatar-thumb" src="assets/images/faces/face28.png" alt="">
                </div>
              </div>
            </li>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav> 
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" onclick="return categoryName('Clothing');" href="#" aria-expanded="false" aria-controls="">
                <span class="menu-title">Clothing</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#" onclick="return categoryName('Food');" aria-expanded="false" aria-controls="">
                <span class="menu-title">Food</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#" onclick="return categoryName('Gifting');" aria-expanded="false" aria-controls="">
                <span class="menu-title">Gifting</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#" onclick="return categoryName('Electronics');" aria-expanded="false" aria-controls="">
                <span class="menu-title">Electronics</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#" onclick="return categoryName('Sports');" aria-expanded="false" aria-controls="">
                <span class="menu-title">Sports</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#" onclick="return categoryName('Music');" aria-expanded="false" aria-controls="">
                <span class="menu-title">Music</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#" onclick="return categoryName('Furniture');" aria-expanded="false" aria-controls="">
                <span class="menu-title">Furniture</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="glide">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  <li class="glide__slide"><img src="{{ url_for('static', filename='images/clothing.jpg') }}" onclick="return categoryName('Clothing');" class="d-block w-100" alt="..."></li>
                  <li class="glide__slide"><img src="{{ url_for('static', filename='images/food.jpg') }}" onclick="return categoryName('Food');" class="d-block w-100" alt="..."></li>
                  <li class="glide__slide"><img src="{{ url_for('static', filename='images/gift.jpg') }}" onclick="return categoryName('Gift');" class="d-block w-100" alt="..."></li>
                  <li class="glide__slide"><img src="{{ url_for('static', filename='images/electronics.jpg') }}" onclick="return categoryName('Electronics');" class="d-block w-100" alt="..."></li>
                  <li class="glide__slide"><img src="{{ url_for('static', filename='images/sports.jpg') }}" onclick="return categoryName('Sports');" class="d-block w-100" alt="..."></li>
                  <li class="glide__slide"><img src="{{ url_for('static', filename='images/music.jpg') }}" onclick="return categoryName('Music');" class="d-block w-100" alt="..."></li>
                  <li class="glide__slide"><img src="{{ url_for('static', filename='images/furniture1.jpg') }}" onclick="return categoryName('Furniture');" class="d-block w-100" alt="..."></li>
                </ul>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
              </div>
            </div>
            <div class="row" id="sup"></div>
          </div>
        </div>
      <!-- page-body-wrapper ends -->
    </div>
    <h5 class="card-title" id="title"></h5>
    <script>
      const config = {
        perView : 2,
        gap : 20,
        autoplay : 2000,
        hoverpause : true,
        animationDuration : 500,
        peek: {
          before: 100,
          after: 100
        }
      }
      new Glide('.glide',config).mount()
    </script>
    <script>
      function SubCategoryModal(categoryId) {
          $(".modal-body #categoryId").val(categoryId);
          $('#myModal2').modal('show');
      }
      function ProductModal(categoryId,subcategoryId) {
          $(".modal-body #categoryId").val(categoryId);
          $(".modal-body #subcategoryId").val(subcategoryId);
          $('#myModal3').modal('show');
      }
      function categoryName(name) 
      {
        $.ajax({
          url: "/category/get_category_name",
          type: "POST",
          data: JSON.stringify({name}),
          contentType: "application/json;charset=utf-8",
          success: function(data1)
          {
            document.getElementById("sup").innerHTML = '';
            for(var key in data1['category']) 
            {
              console.log(data1['category'][key]['business_id']);
              console.log(data1['category'][key]['business_name']);  
              console.log(data1['category'][key]['business_description']);
              console.log(data1['category'][key]['business_image']);
              document.getElementById("sup").innerHTML = document.getElementById("sup").innerHTML
              +'<div class="col-lg-3">'
              +'<div class="card mt-4">'
              +'<img class="card-img-top" src='+data1['category'][key]['business_image']+' alt="Card image cap">'
              +'<div class="card-body">'
              +'<h5 class="card-title" id="title">'+data1["category"][key]["business_name"]+'</h5>'
              +'<h5 class="card-title">'+data1["category"][key]["business_description"]+'</h5>'
              +'<button type="button" class="btn btn-dark" onclick="window.location.href='+/business/data1['category'][key]['business_id']+'">Shop</button>'
              +'</div>'
              +'</div>'
              +'</div>';
            }
          }
        })
      }
    
    </script>  
    <script src= "{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src= "{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
    <script src= "{{ url_for('static', filename='vendors/jquery-circle-progress/js/circle-progress.min.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src= "{{ url_for('static', filename='js/off-canvas.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
    <script src= "{{ url_for('static', filename='js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src= "{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <!-- End custom js for this page -->
  </body>
</html>