{% extends "base.html" %}

{% block heading %}
Change Password
{% endblock %}

{% block name %}
{{name}}
{% endblock %}

{% block body %}

<div class="row">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}
</div>

<div class="row">
    <div class="col">
        <form method="post" action="/changePass" enctype="multipart/form-data">
            <div class="form-group "><label for="exampleFormControlInput1" class="text-dark">Current Password</label>
                <input class="shadow-sm form-control" id="curpass" type="password" placeholder="Current Password.." name="curpass" required></div>

            <div class="form-group "><label for="exampleFormControlInput1" class="text-dark">New Password</label>
                <input class="shadow-sm form-control" id="newpass" type="password" placeholder="New Password.." name="newpass" required></div>

            <div class="text-center"> 
                <button type="submit" class="btn btn-sm btn-success shadow-sm">Change Password</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}

